body {
    background-color: #47F;
    padding: 0%;
    margin: 0%;
    border: 0%;
    display: inline;
}

h1 {
    font-size: 20px;
    text-align: center;
    display: inline;
    color: #fff;
    margin: 0%;
    font-family: arial, helvetica, serif;
}

.ui-header {
    text-align: center;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 5%;
    width: 100%;
    background-color: #44b;
    padding: 4%;
    margin: 0%;
    z-index: 90;
}

.ui-button-menu {
    font-size: medium;
    text-align: center;
    vertical-align: middle;
    display: block;
    position: fixed;
    top: 1%;
    left: 2%;
    width: 10%;
    height: 8%;
    padding: 0;
    margin: 0;
    color: #000;
    background-color: #ACF;
    font-family: arial, helvetica, serif;
    z-index: 100;
}

.ui-panel-details {
    font-size: x-small;
    text-align: center;    
    display: none;
    color: #000;
    background-color: #ACF;
    position: fixed;
    top: 10%;
    left: 0;    
    width: 100%;
    height: 6%;
    margin: 0%;
    padding: 3%;
    font-family: arial, helvetica, serif;
    z-index: 90;
}

.ui-filler {
    display: block;
    position: static;
    padding: 5%;
    margin: 5%;
    width: 100%;    
    height: 22%;
    z-index: 50;
}

.ui-panel-times {
    text-align: center;  
    font-size: medium;
    display: none;
    padding: 5%;
    margin: 5%;
    position: static;
    width: 80%;
    color: #000;
    background-color: #CEF;
    font-family: arial, helvetica, serif;
    z-index: 10;
}

.ui-panel-instructions {
    text-align: center;  
    font-size: medium;
    display: none;
    padding: 5%;
    margin: 5%;
    position: static;
    width: 80%;
    color: #000;
    background-color: #CEF;
    font-family: arial, helvetica, serif;
    z-index: 10;
}

.ui-panel-updates {
    text-align: center;  
    font-size: small;    
    display: none;
    padding: 5%;
    margin: 5%;
    position: static;
    width: 80%;
    color: #000;
    background-color: #CEF;
    font-family: arial, helvetica, serif;
    z-index: 10;
}

.list-a {
    font-size: small;
    font-weight: bold;
    text-align: left;
    text-indent: 10%;
    list-style-position: inside;
}

.ui-panel-menu {
    font-size: medium;
    display: none;
    padding: 5%;
    margin: 5%;
    position: absolute;    
    top: 10%;
    width: 80%;
    color: #000;
    background-color: #CEF;
    font-family: arial, helvetica, serif;
    z-index: 10;
}

.ui-links {
    text-align: center;  
    font-size: medium;
    display: none;
    padding: 5%;
    margin: 5%;
    position: absolute;    
    top: 10%;
    width: 80%;
    color: #000;
    background-color: #CEF;
    font-family: arial, helvetica, serif;
    z-index: 10;
}